@use "../global" as g;
@use "../util" as u;
main {
	.main-section {
		display: grid;
		grid-template-columns: 1fr;

		aside {
			background-color: g.$Very-dark-blue;
			padding: u.em(20);
			height: fit-content;
			.box1 {
				padding-bottom: u.rem(29);

				h2 {
					color: g.$Soft-orange;
					font-weight: g.$large;
					margin-bottom: u.em(20);
					font-size: u.rem(25);
				}
			}
			.box2 {
				border-bottom: u.rem(1) solid g.$Grayish-blue;
				border-top: u.rem(1) solid g.$Grayish-blue;
			}
			.box2,
			.box3 {
				padding-block: u.rem(29);
			}
			.box {
				// padding-block: u.em(10);
				h3,
				h4,
				h5 {
					margin-bottom: u.rem(15);
					color: g.$Off-white;
					font-size: u.rem(20);
					&:hover {
						color: g.$Soft-orange;
						transition: 0.3s ease-in-out;
						cursor: pointer;
					}
				}
				p {
					color: g.$Grayish-blue;
					margin: 0;
				}
			}
		}
		.footer-news {
			margin-top: u.em(60);
			display: flex;
			flex-direction: column;
			gap: u.rem(20);
			.box {
				@include u.flex;
				gap: u.rem(29);
				justify-content: flex-start;
				img {
					width: u.rem(100);
				}
				.news {
					span {
						color: g.$Grayish-blue;
						font-weight: g.$medium;
						font-size: u.rem(30);
					}
					.topic {
						margin-bottom: u.rem(8);
						margin-top: u.rem(8);
						color: g.$Very-dark-blue;
						font-weight: g.$medium;
						font-size: u.rem(19);
						&:hover {
							color: g.$Soft-red;
							transition: 0.3s ease;
							cursor: pointer;
						}
					}
					.topicinfo {
						color: g.$Dark-grayish-blue;
					}
				}
			}
		}
		.news1 {
			// max-width: u.rem(400);
			@include u.breakpoints(medium2) {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
				grid-column: 1/3;
				gap: u.rem(20);
				.more {
					.btn {
						margin: 0;
					}
				}
			}
			.more {
				p {
					font-size: clamp(u.rem(14), u.rem(18) + 1vw, u.rem(17));
					margin-top: u.rem(0);
					flex-grow: 1;
					color: g.$Dark-grayish-blue;
				}
			}
		}
		@include u.breakpoints(medium2) {
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: 1fr auto auto;
			gap: u.rem(40) u.rem(20);
			.banner {
				grid-column: 1/3;
				grid-row: 1/2;
				margin: 0;
			}
			aside {
				grid-column: 3/4;
				grid-row: 1/3;
			}
			.news1 {
				height: fit-content;
				h1 {
					margin: 0;
					line-height: 1.2;
				}
			}
			.footer-news {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
				grid-column: 1/-1;
				flex-direction: row;
				margin-top: 0;

				.box {
					.news {
						flex-direction: column;
					}
				}
			}
		}
	}
}
